<header>
  <h1>not-Reddit: <%= @post.category %></h1>
  <p class='options'><%= link_to 'Home', root_path %></p>
</header>

<div class='show-body'>
  <p class='vote'><%= link_to "^", upvote_path(@post) %><br><%= @post.vote %><br><%= link_to "v", downvote_path(@post) %></p>

  <div class='show-post'>
    <h2><%= @post.title %></h2>
    <p class='link'><%= link_to "#{@post.url}", @post.url, :target => "_blank" %></p>
    <p><%= @post.description %></p>
    <p class='options'><%= link_to 'Comment', new_post_comment_path(@post) %> | <!--
    --><%= link_to 'Edit Post', edit_post_path(@post) %> | <!--
    --><%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>

</div>

<% @comments.each do |comment|  %>
  <div class='comment'>
    <h4><%= comment.name %></h4>
    <p><%= comment.body %></p>
  </div>
<% end %>
